<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <form action="">

        <div class="modal-dialog text-center">
            <h3>Datos Personales</h3>
        </div>

        <div class="form-row">
            <div class="col-sm-4"></div>

            <div class="col-sm-4">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" required name="name" minlength="3" maxlength="15">
                <div class="invalid-feedback">Llena el campo</div>
                <div class="valid-feedback">Ok!</div>
            </div>

        </div>

        <div class="form-row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <label for="firstLastName">Apellido Paterno</label>
                <input type="text" class="form-control" id="firstLastName" required name="firstLastName" minlength="3"
                    maxlength="15">
                <div class="invalid-feedback">Llena el campo</div>
                <div class="valid-feedback">Ok!</div>
            </div>

        </div>

        <div class="form-row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <label for="secondLastName">Apellido Materno</label>
                <input type="text" class="form-control" id="secondLastName" name="secondLastName" minlength="3"
                    maxlength="15">
                <div class="invalid-feedback">Llena el campo</div>
                <div class="valid-feedback">Ok!</div>
            </div>

        </div>

        <div class="form-row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <label for="birthday"> Fecha de Nacimiento</label>
                <input type="date" class="form-control" name="birthday" id="birthday" required min="1936-01-01"
                    max="2005-01-01">
                <div class="invalid-feedback">Llena el campo</div>
                <div class="valid-feedback">Ok!</div>
            </div>

        </div>

        <div class="form-row">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <label for="ingresos">Ingresos anuales</label>
                <input type="text" class="form-control" id="ingresos" name="ingresos" minlength="3" maxlength="15">
                <div class="invalid-feedback">Llena el campo</div>
                <div class="valid-feedback">Ok!</div>
            </div>

        </div>
        <br>
        <div class="form-row">

            <div class="col-sm-5"></div>

            <div class="col-sm-2">
                <button type="submit" class="btn btn-success" data-toggle="modal" style="margin-left: 50px;">
                    Registrarme
                </button>
            </div>

        </div>
    </form>
</body>

</html>